<!-- 푸터 -->
<footer>
    <div class="foot_wrap">
        <div class="foot_left">
            <h3>｜본향족발 전화주문</h3>
            <p><strong>070-000-0000 </strong> ｜영업시간 11:00 - 23:00</p>
            <ul class="foot_info">
                <li>주소: 경기도 양주시 덕계동</li>
                <li>사업자번호: 000-00-00000</li>
                <li>대표자: choi동1</li>
                <li>COPYRIGHT(C)2022.본향족발.ALL RIGHTS RESERVED</li>
            </ul>
        </div>
        <div class="foot_right">
            <h3>｜본향족발 SNS</h3>
            <a href="#">인스타</a>
            <a href="#">블로그</a>
            <a href="#">카카오톡</a>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>