<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>본향족발</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!-- 헤더 -->
<header>
    <!-- 네비바 -->
    <nav class="navbar_wrap">
        <!-- 네비바_로고 -->
        <div class="nav_logo">
            <a href="/static"><img src="/img/img_main/nav_logo.png" alt="#"></a>
        </div>
        <!-- 네비바_카테고리&버튼 -->
        <div class="nav_cnb">
            <ul class="nav_category">
                <li><a href="#">본향이야기</a></li>
                <li><a href="/posts/save">본향게시판</a></li>
                <li><a href="#">메뉴판</a></li>
                <li><a href="#">본향SNS</a></li>
                <li>｜</li>
            </ul>
            <div class="nav_btn">
                <a href="/view/commons/signin"><button id="btn_log">로그인</button></a>
                <button id="btn_order">주문하기</button>
            </div>
        </div>
    </nav>
</header>