<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
<!--헤더 여백영역-->
<div class="white_top"></div>
<!--메인영역-->
<main>
  <!--로고영역-->
  <div class="logo_wrap">
    <a href="/"><img src="/img/img_main/nav_logo.png"></a>
  </div>
  <!--로그인영역-->
  <div class="login_wrap">
      <a href="/oauth2/authorization/google" class="btn btn-success active glogin" role="button">
          <img src="/img/img_login/google_login_large_wide.png">
      </a>
      <a href="/oauth2/authorization/naver" class="btn btn-secondary active nlogin" role="button">
          <img src="/img/img_login/naver_login_large_wide.png">
      </a>
      <a href="/oauth2/authorization/kakao" class="btn btn-third active klogin" role="button">
          <img src="/img/img_login/kakao_login_large_wide.png">
      </a>
  </div>

</main>

</body>
</html>