<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head"></head>
<body>
<!-- 헤더 -->
<header th:replace="fragments/header::header"></header>

    <!--메인영역-->
    <main>
        <!-- 슬라이드 배너 -->

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a href="#">
                        <div class="text-wrap">
                            <h2>매일 삶습니다</h2>
                            <p>내 가족이 먹는다는 생각으로</p>
                        </div>
                        <img src="/img/img_main/slide_main1.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="text-wrap">
                            <h2>매일 삶습니다</h2>
                            <p>내 가족이 먹는다는 생각으로</p>
                        </div>
                        <img src="/img/img_main/slide_main1.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="text-wrap">
                            <h2>매일 삶습니다</h2>
                            <p>내 가족이 먹는다는 생각으로</p>
                        </div>
                        <img src="/img/img_main/slide_main1.jpg" alt="">
                    </a>
                </div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"><</div>
            <div class="swiper-button-next">></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <!--여백-->
        <div class="white_space"></div>

        <!--이벤트영역-->
        <div class="event_wrap">
            <div class="event_title">
                <span>EVENT</span>
                <hr class="sub_line">
                <img src="/img/img_main/event1.png">
            </div>
        </div>

        <!--여백-->
        <div class="white_space"></div>

        <!--리뷰영역-->
        <div class="review_wrap">
            <div class="review_title">
                <span>REVIEW</span>
                <hr class="sub_line">
            </div>
            <!--리뷰이미지-->
            <div class="review_img">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!--여백-->
        <div class="white_space"></div>
    </main>
<hr class="footer_hr">
<!--푸터-->
<footer th:replace="fragments/footer::footer"></footer>
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!--custom.js 추가-->
<script src="/js/custom.js"></script>

</body>
</html>