{{>layout/header}}

    <!--메인영역-->
    <main>
        <!-- 슬라이드 배너 -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a href="#">
                        <div class="text-wrap">
                            <h2>매일 삶습니다</h2>
                            <p>내 가족이 먹는다는 생각으로</p>
                        </div>
                        <img src="/img/img_main/slide_main1.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="text-wrap">
                            <h2>매일 삶습니다</h2>
                            <p>내 가족이 먹는다는 생각으로</p>
                        </div>
                        <img src="/img/img_main/slide_main1.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="text-wrap">
                            <h2>매일 삶습니다</h2>
                            <p>내 가족이 먹는다는 생각으로</p>
                        </div>
                        <img src="/img/img_main/slide_main1.jpg" alt="">
                    </a>
                </div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"><</div>
            <div class="swiper-button-next">></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <!--여백-->
        <div class="white_space"></div>

        <!--이벤트영역-->
        <div class="event_wrap">
            <div class="event_title">
                <span>본향족발 이벤트</span>
                <hr class="sub_line">
            </div>
        </div>

        <!--여백-->
        <div class="white_space"></div>

        <!--리뷰영역-->
        <div class="review_wrap">
            <div class="review_title">
                <span>본향족발 리뷰</span>
                <hr class="sub_line">
            </div>
            <!--리뷰이미지-->
            <div class="review_img">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!--여백-->
        <div class="white_space"></div>

{{>layout/footer}}